body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    color: #333; 
    text-align: center; 
}
h1 {
    color: #141414; 
    margin-bottom: 50px; 
    font-size: 3rem;
}

/*div global*/
.global {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position:absolute;
    top: 20%;
    left: 33%;
}

.global button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    padding: 0.8rem 10rem;
    width: 40rem;
    height: 4rem;
    margin-block: 1rem;
    background-color: #4CAF50; 
    color: white; 
    border: black;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    a{
        text-decoration: none; 
        color: white;
        text-align: start;
    }
}

.global button:hover {
    background-color: #3c573d; 
}

